<%- include('../partials/header') %>
<div class="showGridBox">
    <h1>Departure</h1>
    <h1>Arrival</h1>
    <div class="Departure">
        <thead>
            <label>Airport:</label>
            <th><%= flight.airport %></th>
            <label>Airline:</label>
            <th><%= flight.airline %></th>
            <label>Flight Number:</label>
            <th><%= flight.flightNo %></th>
            <% function formatDate(date) { %>
            <% var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",  "November", "December"]; %>

            <% var day = date.getDate(); %>
            <% var monthIndex = date.getMonth(); %>
            <% var year = date.getFullYear(); %>

            <% return day + ' ' + monthNames[monthIndex] + ' ' + year; %>
            <% } %>
            <% let date = formatDate(flight.departs) %>
            <label>Departure:</label>
            <td><%= date %></td>
        </thead>
    </div>
    <div class="arrival">
        <% flight.destination.forEach(function(d) { %>
        <p>Airport:</p>
        <p><%= d.airport %></p>
        <p>Date:</p>
        <% let dd = formatDate(d.arrival) %>
        <p><%= dd %></p>
        <p style="color: #F5B943;">_________________</p>
        <p style="color: #F5B943;">________________</p>
        <% }); %>
    </div>

</div>
<div class="detaiDiv">
    <form action="/flights/<%= flight._id %>/destination" method="POST">
        <label for="">Airport:</label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
        </select>
        <label>Date:</label>
        <input type="date" name="arrival">
        <input type="submit" value="Add DETAIL" class="submit">
    </form>
</div>
<div class="allTickets">
    <% flight.addedTicket.forEach(function(d) { %>
    <p>seat:</p>
    <p><%= d.seat %></p>
    <p>Price:</p>
    <p>$<%= d.price %></p>
    <p style="color: #F5B943;">_________________</p>
    <p style="color: #F5B943;">________________</p>
    <% }); %>
</div>
<div class="addingTicketToFlight">
    <form id="add-per-to-cast" action="/flights/<%= flight._id%>" method="POST">
        <select name="flightId">
            <%- tickets.map(t => `<option value="${t._id}">${t.seat}</option>`) %>
        </select>
        <button type="submit">Add to Flight</button>
    </form>
</div>
<a href="/flights/<%= flight._id %>/tickets/new" class="makeTicketBtn">M a k e - T i c k e t</a>

<form action="/flights"><button class="backBtn">Back</button></form>


<%- include('../partials/footer') %>